<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta property="og:title" content="readflow" />
<meta property="og:description" content="Read your Internet article flow in one place with complete peace of mind and freedom" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://about.readflow.app" />
<meta property="og:image" content="https://about.readflow.app/images/readflow.png" />
