.settings section > header {
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.settings section > header > h2 {
  flex-grow: 1;
  font-weight: 400;
  margin: 0;
  align-self: center;
}
.settings section > header > h2 > img {
  margin-right: .5em;
}

.settings section > header > a,
.settings section > header > button {
  margin-left: 1em;
}

.settings section > :global(p.help) {
  display: flex;
  font-style: italic;
  align-items: flex-start;
  justify-content: space-between;
}

.settings section > :global(p.help) > span {
  flex: 1 1 auto;
  margin-left: 1em;
}

.settings section > :global(p.help) table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-top: 1em;
}
.settings section > :global(p.help) table tr:first-child {
  border: none;
}
.settings section > :global(p.help) table tr {
  border-top: 1px solid rgba(0,0,0,.06);
}
.settings section > :global(p.help) table th {
  text-align: inherit;
}
.settings section > :global(p.help) table th,
.settings section > :global(p.help) table td {
  border: inherit;
  padding: .75rem;
}
.settings section > :global(p.help) table td a {
  text-decoration: none;
  color: inherit;
}
