[submodule "makefiles"]
	path = makefiles
	url = https://github.com/ncarlier/makefiles.git
[submodule "landing/themes/hugo-fresh"]
	path = landing/themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh
[submodule "docs/themes/docdock"]
	path = docs/themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
