
services:
  #######################################
  # Postgres: The database
  #######################################
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-readflow_test}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-testpwd}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
  #######################################
  # Imgproxy: Image proxy
  #######################################
  imgproxy:
    image: darthsim/imgproxy
    environment:
      IMGPROXY_KEY: ${READFLOW_HASH_SECRET_KEY:-736563726574}
      IMGPROXY_SALT: ${READFLOW_HASH_SECRET_SALT:-706570706572} 
      IMGPROXY_ENABLE_WEBP_DETECTION: true 
    ports:
      - "${IMGPROXY_PORT:-8081}:8080"
  #######################################
  # Goenberg: PDF generator
  #######################################
  gotenberg:
    image: gotenberg/gotenberg:7
    ports:
      - "${GOTENBERG:-3001}:3000"
