
.header > h1 > small {
  font-size: small;
  font-variant: all-small-caps;
  color: #0000009c;
  font-weight: 500;
  display: block;
}

.header > h1 a {
  color: inherit;
  text-decoration: none;
}

.header > h1 > small a {
  display: inline-flex;
}

.header > h1 > small a:before {
  content: "-";
  padding: 0 .5em;
}

.header > h1 a > i {
  font-size: inherit;
  font-variant: initial;
  align-self: center;
  padding-left: .5em;
}
