
.list {
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

.item {
  margin-bottom: 1em;
  outline: none;
}

@media (max-width: 767px) {
  .list {
    padding: 0;
  }
  .item {
    margin-bottom: 0;
    border-bottom: 1px solid var(--separator-default-color);
  }
  .item header, .item footer {
    border: none;
    background-color: white;
  }
}
