
.list {
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

.item {
  margin: 1em;
  outline: none;
  border-radius: 10px;
}

.item:last-child {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .list {
    padding: 0;
  }
  .item {
    margin: 1em;
    box-shadow: 0 2px 15px 2px #c1c1c17a;
  }
  .item header, .item footer {
    border: none;
    background-color: white;
  }
}
