
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  height: 100vh;
  align-items: center;
  font-family: open sans,sans-serif;
}

.hero > div {
  margin-top: -3.8rem;
}

.hero > div:first-child {
  padding: .75rem;
}

.hero h1 {
  margin-bottom: 1.5rem;
}

.hero button {
  padding: 1rem 2rem;
}

.hero img {
  width: 100%;
}
