# readflow configuration file
#
# If an attribute has a default value, this value is used if the attribute is not
# set or empty.
#
# Environment variables can be used anywhere in this config file, simply surround
# them with ${}. For strings the variable must be within quotes (ie, "${STR_VAR}"),
# for numbers and booleans they should be plain (ie, ${INT_VAR}, ${BOOL_VAR})

[global]
## Database connection string
# Default: "postgres://postgres:testpwd@localhost/readflow_test?sslmode=disable"
db = "${READFLOW_DB}"

## HTTP listen address
# Default: ":8080"
# Examples: "localhost:8080" or ":8080" for all interfaces 
listen_addr = "${READFLOW_LISTEN_ADDR}"

## Metrics listen address (aka: Prometheus metrics endpoint), deactivated if empty
# Example: ":9090"
metrics_listen_addr = "${READFLOW_LISTEN_METRICS}"

## SMTP listen address, deactivated if empty
# Examples: "localhost:1025" or ":1025" for all interfaces 
smtp_listen_addr = "${READFLOW_SMTP_LISTEN_ADDR}"

## Authentication method
# - `mock`: Generic user use for testing
# - `proxy`: For proxied authentication that use "X-WEBAUTH-USER", "X-Auth-Username", "Remote-User" or "Remote-Name" HTTP header as username
# - `https://...`: Use OpenID Connect provider
# Note: If the API authentication method is `mock` or `proxy`, then set 'REACT_APP_AUTHORITY=none' when bulding UI. 
# Default: "https://login.nunux.org/auth/realms/readflow"
authn = "${READFLOW_AUTHN}"

## UI location, deactivated if empty
# Example: "/var/local/html"
ui = "${READFLOW_UI}"

## Public URL
# Default: "https://readflow.app"
public_url = "${READFLOW_PUBLIC_URL}"

## Secret salt used by hash algorythms
# Default: "pepper"
secret_salt = "${READFLOW_SECRET_SALT}"

## Block-list local or remote location, deactivated if empty
# Examples:
# - file:///var/opt/block-list-txt
# - https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
# - https://raw.githubusercontent.com/notracking/hosts-blocklists/master/dnscrypt-proxy/dnscrypt-proxy.blacklist.txt
block_list = "${READFLOW_BLOCK_LIST}"

[integration]
## External event broker URI for outgoing events, deactivated if empty
# Example: "https://example.com/event"
external_event_broker_uri = "${READFLOW_BROKER_URI}"

## External Web Scraper URL, using internal if empty
# Example: "https://example.org/scrap"
external_web_scraper_url = "${READFLOW_WEB_SCRAPER_URL}"

## Image proxy URL, deactivated if empty
# Example: "http://imaginary:9000"
image_proxy_url = "${READFLOW_IMAGE_PROXY_URL}"

## PDF generator URL, deactivated if empty
# Example: "http://gotenberg:3000/forms/chromium/convert/html"
pdf_generator_url = "${READFLOW_PDF_GENERATOR_URL}"

## Avatar local or remote provider
# If using a remote provider, {seed} is a placehoder for the avatar seed.
# Default: "https://robohash.org/{seed}?set=set4&size=48x48"
# Examples:
# - file:///var/opt/avatars?default=cat
# - https://seccdn.libravatar.org/avatar/{seed}?d=mp&s=48
avatar_provider = "${READFLOW_AVATAR_PROVIDER}"

## Secrets Engine provider for secrets encryption, deactivated if empty (aka: no encryption)
# Examples:
# - file:///var/opt/key.txt
secrets_engine_provider = "${READFLOW_SECRETS_ENGINE_PROVIDER}"

## Sentry integration
[integration.sentry]
## DSN URL, deactivated if empty
dsn_url = "${READFLOW_SENTRY_DSN}"

## Pocker integration
[integration.pocket]
## Consumer key, deactivated if empty
consumer_key = "${READFLOW_POCKET_CONSUMER_KEY}"

## Rate limiting for notifications, none by default
#[rate_limiting.notification]
#provider = "memory"
#tokens = 5
#interval = "24h"

## Rate limiting for incoming webhooks, none by default
#[rate_limiting.webhook]
#provider = "memory"
#tokens = 30
#interval = "1m"

## User Plans, none by default
#[[user_plans]]
#name = "free to play"
#articles_limit = 200
#categories_limit = 10
#incoming_webhooks_limit = 1
#outgoing_webhooks_limit = 1
#outgoing_webhooks_timeout = "2s"

#[[user_plans]]
#name = "friends and family"
#articles_limit = 2000
#categories_limit = 50
#incoming_webhooks_limit = 5
#outgoing_webhooks_limit = 5
#outgoing_webhooks_timeout = "10s"
