:root {
  --error-color: #cd5356;
  --main-bg-color: #eaeff1;
  --navbar-bg-color: #18202c;
  --navbar-header-text-color: white;
  --navbar-header-bg-color: #232f3e;
  --navbar-header-shadow-color: #404854;
  --navbar-link-color: rgba(255, 255, 255, 0.7);
  --navbar-link-hover-color: rgba(255, 255, 255, 0.08);
  --navbar-link-active-color: #4fc3f7;
  --header-text-color: #fff;
  --header-bg-color: #009be5;
  --button-color: rgba(0, 0, 0, 0.87);
  --button-default-color: #dddddd;
  --button-default-hover-color: #cacaca;
  --button-primary-color: #009be5;
  --button-primary-text-color: #fff;
  --button-primary-hover-color: #006db3;
  --button-danger-color: #cd5356;
  --button-danger-text-color: #fff;
  --button-danger-hover-color: #ce4245;
  --separator-default-color: #c5c5c5;
  --panel-header-color: #f5f5f5;
  --panel-body-color: #fff;
  --panel-text-color: #000;
  --panel-text-color-alt: #828282;
  --panel-footer-color: #f5f5f5;
  --panel-shadow-color: #c1c1c17a;
  --table-separator: #ffffff0f
}

[data-theme="dark"] {
  --error-color: #cd5356;
  --main-bg-color: #000000;
  --navbar-bg-color: #18202c;
  --navbar-header-text-color: white;
  --navbar-header-bg-color: #232f3e;
  --navbar-header-shadow-color: #404854;
  --navbar-link-color: rgba(255, 255, 255, 0.7);
  --navbar-link-hover-color: rgba(255, 255, 255, 0.08);
  --navbar-link-active-color: #4fc3f7;
  --header-text-color: rgb(141, 141, 141);
  --header-bg-color: #002333;
  --button-color: rgba(0, 0, 0, 0.87);
  --button-default-color: #575757;
  --button-default-hover-color: #414141;
  --button-primary-color: #002333;
  --button-primary-text-color: #cacaca;
  --button-primary-hover-color: #002b3f;
  --button-danger-color: #8d2526;
  --button-danger-text-color: #cacaca;
  --button-danger-hover-color: #741e1f;
  --separator-default-color: #5f5f5f;
  --panel-header-color: #252525;
  --panel-body-color: #000;
  --panel-text-color: #afafaf;
  --panel-text-color-alt: #828282;
  --panel-footer-color: #000;
  --panel-shadow-color: #3d3d3d8e;
  --table-separator: #a7a7a70f;
  --input-bg-color: #5f5f5f;
}
