name: Build

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: readflow_test
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Test
      run: make build test
      env:
        READFLOW_DB: postgres://postgres:postgres@localhost:5432/readflow_test?sslmode=disable

    - name: Distribution
      run: make distribution
      if: startsWith(github.ref, 'refs/tags/')
      
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          release/readflow-linux-amd64.tgz
          release/readflow-linux-arm64.tgz
          release/readflow-linux-arm.tgz
          release/readflow-darwin-amd64.tgz
          release/readflow-windows-amd64.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
